*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Playpen Sans", cursive;
}
header {
    background-color: lavender;
    padding: 20px 15px;
}
h1 {
    text-align: center;
    color: rgb(139, 0, 86);
    text-decoration: underline;
    text-transform: uppercase;
}
footer {
    background-color: lavenderblush;
    padding: 20px 15px;
}
.copy-text {
    color: darkblue;
    text-align: center;
}

.card {
    position: relative;
    width: 250px;
    height: 250px;
    border: 5px solid lavender;
    transform-style: preserve-3d;
    border-radius: 10px;
    box-shadow: rgb(164, 112, 175) 0 0 6px 2px;
    transition: 0.5s transform ease-in-out;
    
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card::after {
    content: "";
    display: block;
    width: 240px;
    height: 240px;
    background-image: url(../img/img_фон.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top:0;
    left:0;
    position: absolute;
    backface-visibility: hidden;
}

.card-show {
    transform: rotateY(180deg);
}

.card-finish img {
    filter: grayscale(100%);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    width: 100%;
    justify-content: center;
    gap: 50px;
    margin: 50px auto;
}
.count {
text-align: center;
}
.footer__style {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  flex-direction: row; 
  padding: 10px 20px; 
}